:root {
    --my_white: #fff;
    --my_grey: #f5f5f5;
    --my_dark-grey: #464646;
    --my_blue: #2A7AE4;
    --my_lightblue: #EAF2FD;

    --my_padding: 10%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--my_dark-grey);
    font-family: 'Raleway', sans-serif;
}

a {
    text-decoration: none;
}

/* TOPBAR */
.topbar {
    height: 80px;
    padding: .8rem var(--my_padding);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--my_white);
}

.topbar_logo-search {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.topbar_search-container {
    width: 300px;
    height: 35px;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    border-radius: 30px;
    background: var(--my_grey);
}

.topbar_search-container input {
    width: 250px;
    height: 30px;
    background: transparent;
    border: none;
    outline: none;
}

.topbar_search-container:hover {
    box-shadow: 0 1px 6px #20212447;
    border-color: #dfe1e500;
}

.search-button {
    background: url("./assets/lupa.jpg") no-repeat center / contain;
    height: 18px;
    width: 18px;
    cursor: pointer;
}

.topbar_login {
    min-width: 90px;
    height: 35px;
    display: grid;
    place-items: center;
    font-size: .8rem;
    color: var(--my_blue);
    border: 1px solid;
}

/* BANNER */
.banner {
    position: relative;
    width: 100%;
    height: 300px;
    background: url(./assets/banner_11.jpg) no-repeat top / cover;
    color: var(--my_white);
    padding: 0 var(--my_padding);
}

.banner_container {
    position: absolute;
    bottom: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.banner_title {
    font-size: 3rem;
}

.banner_subtitle {
    font-size: 1.5rem;
}

.banner_button {
    width: 120px;
    height: 40px;
    display: grid;
    place-items: center;
    font-size: .8rem;
    color: var(--my_white);
    background: var(--my_blue);
}

/* PRODUCTOS */
.products {
    width: 100%;
    padding: 3rem var(--my_padding);
    background-color: var(--my_grey);
}

.article {
    margin-bottom: 3rem;
}

.article:last-child {
    margin-bottom: 0;
}

.article_top-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.article__title {
    font-size: 1.7rem;
    font-weight: 700;
}

.article__see-more {
    font-size: 1rem;
}

.cards_container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
}

.card {
    width: 150px;
    font-size: .9rem;
    line-height: 1.7;
}

.card img {
    width: 100%;
}

.card_price {
    font-weight: bold;
}

.card_price::before {
    content: "$ ";
}

.card_see-product {
    color: var(--my_blue);
    font-weight: bold;
}

/* FOOTER-CONTACT */
.footer-contact {
    background-color: var(--my_lightblue);
    display: flex;
    gap: 1rem;
    padding: 3rem var(--my_padding);
    justify-content: space-between;
}

.footer_left {
    display: flex;
    gap: 2rem;
    width: 50%;
    justify-content: space-between;
    align-items: flex-start;
}

.footer_right {
    width: 40%;
}

.footer_items li {
    list-style: none;
    line-height: 2.7;
    font-size: .8rem;
    min-width: 140px;
}

.footer_items li a {
    color: var(--my_dark-grey);
}

.footer_form-contact {
    width: 40%;
}

.footer_form-contact p {
    font-weight: bold;
    margin-bottom: .5rem;
}

.footer_form-contact form {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.footer_form-contact_input {
    font-size: .8rem;
    font-family: 'Raleway', sans-serif;
    height: 40px;
    padding: .5rem;
    outline: none;
    border: none;
    box-shadow: 0 1.5px 2px -1.5px var(--my_dark-grey);
}

.text-area {
    resize: none;
    height: 100px;
}

.footer_form-contact_button {
    width: 120px;
    height: 40px;
    display: grid;
    place-items: center;
    font-size: .8rem;
    color: var(--my_white);
    background: var(--my_blue);
    border: none;
}

/* INICIO FOOTER */

.footer_designer {
    width: 100%;
    height: 30px;
    padding: .5rem var(--my_padding);
    font-size: .8rem;
    background-color: var(--my_blue);
    color: var(--my_white);
    text-align: center;
    border-top: 1px solid #e4e4e4;
}

/* MEDIA QUERY 768PX */
@media (max-width:768px) {
    .topbar {
        gap: 1rem;
    }

    .topbar_logo-search img {
        height: 40px;
    }

    .topbar_search-container {
        width: 260px;
    }

    .topbar_search-container input {
        width: 250px;
    }

    .banner {
        background-position: calc(100% - 30%);
    }

    .banner_title {
        font-size: 2.5rem;
        text-shadow: 0 2px 2px var(--my_dark-grey);
    }

    .banner_subtitle {
        font-size: 1.3rem;
        text-shadow: 0 2px 2px var(--my_dark-grey);
    }

    .card {
        margin-bottom: 2rem;
    }

    .footer_left {
        flex-direction: column;
    }

    .footer_items li {
        line-height: 1.8;
    }

    .footer_right {
        position: relative;
        top: 1rem;
    }

    .footer_form-contact {
        width: 60%;
    }
}

/* MEDIA QUERY 600PX */
@media (max-width:600px) {
    :root {
        --my_padding: 5%;
    }

    .topbar_search-container {
        width: 50px;
    }

    .topbar_search-container input {
        display: none;
    }

    .footer_form-contact {
        width: 40%;
    }
}

/* MEDIA QUERY 360PX */
@media (max-width:360px) {


    .topbar {
        /* display: grid; */
        /* grid-template-columns: 20px 20px; */
        gap: .2rem
    }

    .banner {
        background-position: calc(100% - 20%);
    }

    .banner_title {
        font-size: 2rem;
    }

    .banner_subtitle {
        font-size: .9rem;
    }

    .footer_left {
        align-items: center;
    }

    .footer-contact {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer_form-contact {
        width: 90%;
    }
}